body {
    margin: 0;
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
}

.hero {
    background-image: url("https://www.waconia.org/ImageRepository/Document?documentID=447");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.hero-title {
    background-color: #251F47;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.hero-description {
    background-color: #404E7C;
    color: white;
    width: 400px;
    padding: 5px 10px;
    border-radius: 10px;
}

.activities {
    padding: 20px 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    background-color: #caf0f8;
}

.activity-title {
    color: #251F47;
}

.activity-description {
    color: #404E7C;
}

#first-activity {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#second-activity {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#third-activity {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guide-card {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
    justify-content: center;
    align-items: center;
    background-color: #404E7C;
    border-bottom: 10px solid #260F26;
    border-radius: 15px;
}

.guide-card-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: white;
    text-shadow: 0px 0px 2px black;
}

#guide-pic {
    height: 180px;
    margin: 20px;
}